
@model Laptop


    <h1>Laptop created </h1>
<p><b>Laptop Model:</b> @Model.Model</p>
<p><b>Laptop Id:</b> @Model.Id</p>
<p><b>Laptop Year:</b> @Model.Year</p>
<p><b>Laptop Price:</b> $@Model.Price</p>
<p><b>Laptop Brand:</b> @Model.Brand.Name</p>

